body { margin: 0}

#header1 {padding: : 0; }

h1 { margin-top: 10%;
font-family: 'Lato', sans-serif;
font-weight: 100;
font-size: 500%;}

h6 {font-family: 'Source Sans Pro', sans-serif;
font-weight: lighter;
color: black;
font-size: 70%}

h1, h6 { margin: 0;
padding: 0;}

#headerone nav { display: inline;
	position: absolute;
top: 13px; right: 3%;
font-family: 'Yanone Kaffeesatz', sans-serif;
}

a {text-decoration: none;
color: black;
font-size: 130%; 
word-spacing: 10%;}


#headerone p { display: inline:;
position: absolute;
top: 2px; left: 3%; font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 130%;
font-weight: 100;}

#headerone img { max-height: 15px; max-width: 20px;}


#wrapper { padding-bottom: 20%;
	text-align: center;
background-image: url( "images/backgroundimage.jpg");
background-repeat: repeat-x;
background-size: 
}

h2  {
	font-family: 'PT Sans', sans-serif; 
font-weight: 700; 
 color: #0F0F73; 
 font-size: 285%; }

#header { color: white; padding-top: 10%;}
 #header p {color: black;
  margin: 0px;
  position: relative;
 margin-top: 0px;}

#wordsnearimage img{ width: 40px; height: 40px; border-radius: 100%; 
  }


  #wordsnearimage {display: inline;}
  #wordsnearimage p {display: inline; color: #18C3F2; margin-right: 4px; font-family: sans-serif;}
  #wordsnearimage a {display: inline; text-decoration: underline; color: #94A4A8; font-family: sans-serif; font-size: 100%; }

#firstparagraph p, #secondparagarph p, #thirdparpagraph p{ font-family: sans-serif; color: #7B898C;}

#secondparagarph a {text-decoration: underline; color:#18C3F2; font-size: 90%; font-weight: 600;}

#headerthree { border-top: 33px; border}

h3 { font-family: 'Yanone Kaffeesatz', sans-serif; 
font-size: 200%; 
padding-top: 10px; 
padding-bottom: 10px; 
padding-left: 10px;
color:#18C3F2;
border-left: 2px solid gray; height: 60%; padding: 4px;
padding-left: 12px;}

#thirdparpagraph a {text-decoration: underline; color:#18C3F2; font-size: 90%; font-weight: 600;}
#thirdparpagraph a:hover {color: blue;}

#navigation { padding-left: 2px; }

#whiteandsecoundconatiner { width: 100%;}

 #whiteareacontainer { width: 30%; padding-left: 135px; margin-bottom: 2px;}

 #secoundcontainter {width: 33%; float: right;
 margin-top: -930px; padding-right: 20px; 
 }

 #secoundcontainter img { height: 40%; width: 80%}
 #secoundcontainter img a:hover {color: blue;}

 /* not sure about top code line */

#aboutthisadd a { margin-left: 52%; margin-top-top: -2%; text-decoration: underline; color:#7B898C; font-family: sans-serif ;}

 #mansmallimage img { width: 110px; height: 130px; border-radius: 100%; margin-left: 150px; 
  }

 #mansmallimage p {color: #18C3F2; font-family: 'Yanone Kaffeesatz',  sans-serif; margin-left: 150px; 
 font-weight: 60; font-size: 165%;}

 #mansmallimagenav {  display: inline; color: #7B898C; margin-right: 400px; text-align: justify; }

 #mansmallimagenav a { border-right: 4px solid gray; color: #7B898C; padding-right: 5px; 
 	font-family: 'Josefin Sans', sans-serif; font-weight: 600;}

aside { margin-left: 243px; padding-top: 6px; border-right: none;}

h4 { font-family: 'Yanone Kaffeesatz',  sans-serif; font-weight: 400; color: #18C3F2; font-size: 175%;
 margin-bottom: 4px;}

#sidebartext p {font-family: 'Josefin Sans', sans-serif; font-weight: 600; font-size: 96%; color:#7B898C; margin-top: 0 }

#sidebartext { margin-right: 60px; }

 #thirdcontainer { margin-top: 4%; margin: 20px;
 	vertical-align: center:;
 }



h5 { text-align: center; font-family: 'PT Sans', sans-serif; 
font-weight: 700; 
 color: #0F0F73; 
 font-size: 300%;
 margin-bottom: 10px;
 margin-top: 2px; }

#finalcontainer { margin: 0; width: 100%; padding: 0}
#finalcontainer img:hover {color: blue;}

#finalcontainer .hoverimage {width: 100%; }

.hoverimage { display:inline; margin-left: 2%;}
.hoverimage img { width: 24%; padding: 0;}

aside { width: 50%;
 margin-top: -30px}

 footer { width: 100%; background-color: #083452;}


 #twocolumnfooter #navigation { margin-left: 60%; margin-top: -52px; float: left; 
 	}

#twocolumnfooter p { margin-top: 0; margin-bottom: 0;}

#navigation a {font-family: 'Open Sans', sans-serif; font-weight: 400; color: #a3b3bf; font-size: 90%; }
 
 #twocolumnfooter img { margin-left: 10%;  margin-top: 15px;)













